<div id='rounds-show'>
  <h1 class='page-header'>
    <%= @round.date.to_formatted_s(:long) %> <small><%= @round.course %></small>
  </h1>
  <p class='note'><span class='note-header'>Note:</span> <%= @round.note %></p>

  <% if @round.in_past? %>
    <%= render 'rounds/past_show_table' %>
  <% else %>
    <%= render 'rounds/future_show_table' %>
  <% end %>

</div>