<div id='stats-score-history'>
  <h1 class='page-header'>Score History</h1>
  <% @categorized_players.each do |category, players| %>
    <h2><%= category %></h2>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th>Player</th>
          <th>#</th>
          <th>Avg</th>
          <% (1..9).each do |i| %>
            <th><%= i %></th>
          <% end %>
          <th>To Drop</th>
          <th>Dropped</th>
        </tr>
      </thead>
      <tbody>
        <% players.each do |player| %>
          <tr>
            <td><%= player.short_name %></td>
            <td><%= player.number %></td>
            <td><%= player.average_score %></td>
            <% 11.times do |i| %>
              <td><%= player.last_scores[i] %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Scoring Notes</h3>
    </div>
    <div class='panel-body'>
      <ul>
        <li>
          If an opponent is absent, golfer is to pick another golfer in his 
          opponent's flight and in his foursome to score his card against.
        </li>
        <li>
          Absent player receives whatever the difference is between 20 and 
          opponent's points, but is limited to a <strong>maximum of 8 
          points</strong> or opponent's points, whichever is lower.
        </li>
        <li>
          If both opponents are absent for a scheduled match, each will receive 
          8 points.
        </li>
        <li>
          Net Scores for average: 1st flight - double bogey maximum; 2nd Flight 
          - triple bogey maximum.
        </li>
      </ul> 
      <strong>Please adjust your weekly cards accordingly</strong>
    </div>
  </div>  
</div>